$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/* Space out content a bit */
body {
	padding: 0;
	margin: 0;
}
html, body, #map {
	height: 100%;
}

.header {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	margin: 0;
	margin-left: 2em;
	padding: 0.5em;
	color: #333;
	$shw: 2px;
	$dist: 0px;
	text-shadow: $dist $dist $shw #eee,
					($dist - 1)	($dist)		$shw #fff,
					($dist - 2)	($dist)		$shw #fff,
					($dist - 3)	($dist)		$shw #fff,
					($dist)		($dist - 1)	$shw #fff,
					($dist)		($dist - 2)	$shw #fff,
					($dist)		($dist - 3)	$shw #fff,
					$dist+1 	$dist+1 	$shw #fff,
					$dist+2 	$dist+2 	$shw #fff,
					$dist+3 	$dist+3 	$shw #fff,
	;
}
#map {
	height: 100%;
	.leaflet-popup-content {
		margin-left: .5em;
		.dl-horizontal {
			$defSize: 3.5em;
			margin-bottom: 0;
			dt {
				width: $defSize;
			}
			dd {
				margin-left: $defSize+1;
			}
		}
	}
}
footer {
	background: none repeat scroll 0% 0% hsla(0, 0%, 100%, 0.7);
	margin: 0;
	p.leaflet-control-attribution.leaflet-control {
		padding: 0;
		padding-left: .5em;
		margin: 0;
		font: 12px/1.5 "Helvetica Neue",Arial,Helvetica,sans-serif;
	}
}
